.material-symbols-outlined {
  color: #145434;
  font-size: 36px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 1px solid #145434;
}

h1 {
  width: 100%;
  height: 60px;
  color: #145434;
  font-size: 36px;
  font-weight: 700;
}

#mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.beersSection {
  gap: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  max-width: 1200px;
}

.beerWrapper {
  width: 400px;
}

.beerDataCard {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;

  position: relative;
  left: 20px;
  bottom: 20px;
  background-color: #145434;
  color: #ffeedf;
  width: calc(97%);
  height: 250px !important;
  min-height: 250px;
  padding: 30px;
  z-index: -1;
}

.number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #145434;
  background-color: #ffeedf;
  font-size: 24px;
  text-align: center;
  align-content: center;
  padding-top: 4px;
  color: #145434;
  z-index: 1;
}

h3 {
  font-size: 36px;
}
.sub {
  border-top: 1px solid #ffeedf;
  font-size: 18px;
  padding: 8px 0;
}

.text {
  font-size: 18px;
  font-weight: 700;
}

button {
  position: relative;
  left: 220px;
  bottom: 60px;
  width: 200px;
  height: 50px;
  font-size: 14px;
  color: #145434;
  background-color: #ffeedf;
  border: 2px solid #145434;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding-right: 10px;
}

@media only screen and (max-width: 920px) {
  .beersSection {
    display: grid;
    grid-template-columns: 400px;
  }
}

@media only screen and (max-width: 500px) {

  .beerWrapper{
    width: calc(95%);
  }

  button {
    position: relative;
    left: calc(53%)
    }

}
@media only screen and (max-width: 500px) {

  .beerWrapper{
    width: calc(93%);
  }

  button {
    position: relative;
    left: calc(51%)
    }

}
